@import "../../../node_modules/bootstrap/scss/bootstrap.scss";

// Anything after this will be custom styling!

body,
html {
  min-height: 100vh;
  min-width: 100vw;
  font-size: 20px;
  color: darkslategrey;
}

.navBar {
  width:100% ;
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  
  background-color:navy;
  padding-bottom: 1%;
  font-size: 120%;
}

.navLink{

  color: yellow;
  font-family: fantasy;
  
  
  }

  .title {
    
    display:flex;
    justify-content: center;
    flex-direction: column
    
  }

  .homePage {

    display:flex;
    justify-content: center;

  }

  .tagLine {
    font-size: 20px;
  }

  .salesBody {
display:flex;

  }
